.header {
    text-align: center;
}
#main-header {
    display: inline-block;
    max-width: 220px; 
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    border-right: 1px solid; 
    animation: typing 10s steps(80) forwards, cursor .4s step-end infinite alternate;
    margin-top: 20px;
    color: white;
}
#current-date {
    font-weight: 700;
}
#current-time {
    display: flex;
    justify-content: start;
    margin-left: 115px;
    margin-top: -30px;
}
#table {
    display: flex;
    flex-wrap: wrap;
    width: 120%;
}
.field {
    width: 100%;
}
#input {
    border: 0px solid black;
}
#add {
    display: flex;
    margin-top: -38px;
    margin-left: 200px;
}
#delete {
    display: flex;
    margin-top: -30px;
    margin-left: 235px;
}
#delete-all{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -50px;
    margin-bottom: 10px;
}
.past{
    background-color: lightpink;
}
@keyframes typing {
    from { width: 0; } 
    to { width: 100%; } 
}
@keyframes cursor {
    50% { border-color: transparent; } 
}




